
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    padding: 20px;
    background-color: #dc143cd2;
    transition: all 1s ease-in;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}

.container:hover{
  color: #fff;
  background-color: #1d1d1d;
  transition: all 0.7s ease-in;
}
.container_Link{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}



.linkBtn {
    font-size: 16px;
    color: #e1e1e1;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 1s ease ;
}


  

  .linkBtn:hover {
    color: #dc143ce7;
  }
  .linkBtn:focus{
    color: #0dccee;
  } 
    .linkBtn:focus:after,
    .linkBtn:hover:after {
      width: 100%;
      left: 0%;
  }
  
  .linkBtn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }



 @media only screen and (max-width: 600px) {
  .linkBtn{
    font-size: 16px;
  }
}

 @media only screen and (max-width: 500px) {
  .linkBtn{
    font-size: 12px;
  }
}
