
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 20px;
    background-color: rgba(220, 20, 60, 0.905);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.container_Link{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}



.linkBtn {
    font-size: 16px;
    color: #e1e1e1;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  
  .linkBtn:focus,
  .linkBtn:hover {
    color: #000;
    transition: all 1s ease ;
    -webkit-transition: all 1s ease ;
    -moz-transition: all 1s ease ;
    -ms-transition: all 1s ease ;
    -o-transition: all 1s ease ;
}
  
  .linkBtn:focus:after,
  .linkBtn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .linkBtn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }